
<!--<script type="text/javascript">

</script> -->

<div class="modal fade" id="modal-forgot-password">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Recuperar Contraseña</h4>
			</div>

            <form id="forgot-password-form" class="form-horizontal" action="users/forgotPassword" method="post" role="form">
                <div class="modal-body">
                    <label for="email">Correo</label>
                    <input type="text" id="email" name="email"/>	
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-ok">OK</button>
                </div>
            </form>
		</div>
	</div>
</div>
