<%- include('headers/header-home'); %>
<%- include('partials/part-slider'); %>
<h1 class="available-template-title text-center">Ejemplares disponibles</h1>
<div class="templates-available container" >
  <div class="row">
    <div class="col-md-4 col-xs-6"><img src="images/executive.png" alt="" class="img-responsive"></div>
    <div class="col-md-4 col-xs-6"><img src="images/elegant.png" alt="" class="img-responsive"></div>
    <div class="col-md-4 col-xs-6"><img src="images/bold.png" alt="" class="img-responsive"></div>
    <div class="col-md-4 col-xs-6"><img src="images/executive.png" alt="" class="img-responsive"></div>
    <div class="col-md-4 col-xs-6"><img src="images/elegant.png" alt="" class="img-responsive"></div>
    <div class="col-md-4 col-xs-6"><img src="images/bold.png" alt="" class="img-responsive"></div>
  </div>
</div>
<%- include('footer'); %>
