<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/dist/css/AdminLTE.min.css' />
  <link rel='stylesheet' href='/dist/css/skins/skin-blue.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/plugins/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>
</head>
<body class="skin-blue sidebar-mini">
  <div class="skin-blue sidebar-mini">
    <header class="main-header home-header">
      <a href="/" class="logo">Online CV</a>
      <nav class="navbar navbar-static-top home-nav" role="navigation">
        <!-- Navbar Right Menu -->
        <a href="/" class="register-login" id="register-login-button">
          <span class="glyphicon glyphicon-lock " aria-hidden="true"></span> Inicie Sesion/Registrarme
        </a>
      </nav>
    </header>
  </div>
  <div>
  <% if (messages.length > 0) { %>
       <div class="alert alert-danger" role="alert">
         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
         <span class="sr-only">Error:</span>
         <%= messages %>
       </div>
  <% } %>

