<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/dist/css/AdminLTE.min.css' />
  <link rel='stylesheet' href='/dist/css/skins/skin-blue.min.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="skin-blue sidebar-mini">
  <div class="skin-blue sidebar-mini">
    <header class="main-header">
      <a href="/" class="logo">Online CV</a>
    </header>
  </div>
