/*Home page*/
#available-template-title{
  margin: 40px;
}

.templates-available{
  margin-bottom: 50px;
}
.templates-available .thumbnail {
  display: inline;
}

.footer-details{
  margin-top: 10px;
}
.terms-and-politics{
  text-align: right;
}

#copyright-text {
    /*margin-left: 30%;*/
}
.footer{
  background-color: #367fa9;
  /*margin-top:1px;*/
  color: white;
  min-height: 40px;
}
