<div class="box box-primary">
  <div class="form-group box-body">
    <label for="certifications-field" class="control-label">Certificaciones</label>
    <textarea id="certifications-field" class="form-control" name="fields[certifications]" rows="9" wysiwyg></textarea>
  </div>
</div>