<div class="box box-primary">
  <div class="form-group box-body">
    <label for="certifications-field" class="control-label">Certificaciones</label>
    <textarea id="certifications-field" class="form-control" name="certifications" rows="9"></textarea>
  </div>
</div>