<div class="row repeater-item box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Educación</h3>
    <div class="box-tools pull-right hide">
      <button class="btn btn-danger btn-xs btn-box-tool remove-row"><i class="glyphicon glyphicon-remove"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="form-group col-md-6">
      <label for="course-name" class="control-label">Nombre del curso</label>
      <input type="text" class="form-control" id="course-name" name="education[][name]">
    </div>
    <div class="form-group col-md-6">
      <label for="institute-name" class="control-label">Nombre del instituto</label>
      <input type="text" class="form-control" id="institute-name" name="education[][institute]">
    </div>
    <div class="form-group col-md-6">
      <label for="start-date" class="control-label">Fecha de inicio</label>
      <input type="text" class="form-control" id="start-date" name="education[][start-date]">
    </div>
    <div class="form-group col-md-6">
      <label for="end-date" class="control-label">Fecha final</label>
      <input type="text" class="form-control" id="end-date" name="education[][end-date]">
    </div>
    <div class="form-group col-md-12">
      <label for="other-info" class="control-label">Otras informaciones</label>
      <textarea id="other-info" class="form-control" name="education[][other-info]"></textarea>
    </div>
  </div>
</div>