<div class="row repeater-item box box-primary" data-name="work">
  <div class="box-header with-border">
    <h3 class="box-title">Experiencia</h3>
    <div class="box-tools pull-right hide">
      <button class="btn btn-danger btn-xs btn-box-tool remove-row"><i class="glyphicon glyphicon-remove"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="form-group col-md-6">
      <label for="title" class="control-label">Titulo de trabajo</label>
      <input type="text" class="form-control" id="title" name="work[0][title]">
    </div>
    <div class="form-group col-md-6">
      <label for="company-name" class="control-label">Nombre de la empresa</label>
      <input type="text" class="form-control" id="company-name" name="work[0][company]">
    </div>
    <div class="form-group col-md-6">
      <label for="start-date" class="control-label">Fecha de inicio</label>
      <input type="text" class="form-control" id="start-date" name="work[0][start_date]">
    </div>
    <div class="form-group col-md-6">
      <label for="end-date" class="control-label">Fecha final</label>
      <input type="text" class="form-control" id="end-date" name="work[0][end_date]">
    </div>
    <div class="form-group col-md-12">
      <label for="other-info" class="control-label">Otras informaciones</label>
      <textarea id="other-info" class="form-control" name="work[0][other_info]"></textarea>
    </div>
  </div>
</div>