<div class="box box-primary">
  <div class="form-group box-body">
    <label for="interests-field" class="control-label">Intereses</label>
    <textarea id="interests-field" class="form-control" name="fields[interests]" rows="9"></textarea>
  </div>
</div>