<div class="box box-primary">
  <div class="form-group box-body">
    <label for="references-field" class="control-label">Referencias</label>
    <textarea id="references-field" class="form-control" name="fields[references]" rows="9" wysiwyg></textarea>
  </div>
</div>